<nav class="deep-purple lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" [routerLink]="['/']" class="brand-logo">materializecss</a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/css']">CSS</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">Javascript</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a materialize="sideNav" href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
</div>

<footer class="page-footer deep-purple darken-2">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Nguyễn Như Tuấn</h5>
          <p class="grey-text text-lighten-4">PHP Web Developer</p>
          <p class="grey-text text-lighten-4">Email: <a class="white-text" href="mailto:tuanquynh0508@gmail.com">tuanquynh0508@gmail.com</a></p>
          <p class="grey-text text-lighten-4">Tel: <a class="white-text" href="tel:+84 903-258-221">+84 903-258-221</a></p>
          <p class="grey-text text-lighten-4">Home: <a class="white-text" href="http://tnqsoft.com" target="_blank">http://tnqsoft.com</a></p>
          <p class="grey-text text-lighten-4">Github: <a class="white-text" href="https://github.com/tnqsoft" target="_blank">https://github.com/tnqsoft</a></p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Reference</h5>
          <ul>
            <li><a class="white-text" href="http://materializecss.com/" target="_blank">Materialize Css</a></li>
            <li><a class="white-text" href="https://design.google.com/" target="_blank">Google Design</a></li>
            <li><a class="white-text" href="https://material.io/icons/" target="_blank">Google Masterial Icons Demo</a></li>
            <li><a class="white-text" href="https://angular.io/" target="_blank">Angular JS 2</a></li>
            <li><a class="white-text" href="http://www.typescriptlang.org/" target="_blank">Typescript Language</a></li>
            <li><a class="white-text" href="https://github.com/angular/angular-cli" target="_blank">Angular Cli</a></li>
            <li><a class="white-text" href="https://github.com/google/material-design-icons" target="_blank">Google Masterial Icons</a></li>
            <li><a class="white-text" href="https://www.npmjs.com/package/material-design-icons" target="_blank">Google Masterial Icons NPM</a></li>
            <li><a class="white-text" href="https://github.com/InfomediaLtd/angular2-materialize" target="_blank">angular2-materialize</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Powered by
            <a class="deep-purple-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            and
            <a class="deep-purple-text text-lighten-3" href="https://angular.io/">Angular JS 2</a>
        </div>
    </div>
</footer>